#background {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #35108E;
  position: relative;

  #game-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 600px;
    background-color: #5C19EB;
    border-radius: 40px;
    vertical-align: middle;
    padding: 30px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);

    #title-area {
      width: 100%;
      height: 60px;
      line-height: 55px;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;

      span {
        color: white;
        font-weight: bold;
        font-size: 26px;
        text-align: center;
        text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
      }

      #last {
        img {
          width: 48px;
        }
      }

      #last, &::before {
        content: '';
        flex: 1;
        text-align: right;
      }

    }


    #count-area {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .count-box {
        display: flex;
        width: 80px;
        height: 80px;
        background-color: #5015CA;
        border-radius: 20px;
        box-shadow: inset 0 4px 2px #4A13BD;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        align-items: center;

        .count-number {
          margin: 0;
          font-size: 32px;
          color: #F1CF60;
          text-shadow: 0 2px 0 #A68F42;
        }

        .count-people {
          margin: 0;
          font-size: 14px;
          color: #8E81EF;
        }
      }

      #colon {
        margin: 0 20px;
        line-height: 100px;

        .colon-item {
          width: 10px;
          height: 10px;
          background-color: white;
          border-radius: 50%;
          margin-bottom: 10px;
          vertical-align: middle;
        }
      }
    }

    #result-area {
      height: 320px;

      #outline-shadow {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 20px;
        box-shadow: 0 0 10px #5015CA;
      }

      #inner-shadow {
        width: 100%;
        height: 96%;
        border: 6px solid #5C19EB;
        background-color: transparent;
        border-radius: 20px;
        box-shadow: inset 0 0 10px #5015CA;
      }

      #select-box-background {
        background-image: url('../../image/rock-scissor-paper/yellow.svg');
        background-size: cover;
        width: 150px;
        height: 150px;
        line-height: 150px;
        text-align: center;

        img {
          vertical-align: middle;
        }
      }
    }

    #button-area {

      #button-box-background {
        background-image: url('../../image/rock-scissor-paper/purple.svg');
        background-size: cover;
        width: 130px;
        height: 130px;
        line-height: 130px;
        text-align: center;
        opacity: 60%;

        &:hover {
          opacity: 100%;
        }

        img {
          vertical-align: middle;
        }
      }
    }
  }
}